$color-platinum: #e8ecef;
$color-smoke: #d7dee4;
$color-light-blue: #b7d1e2;
$color-cadet-gray: #92a7ba;
$color-cool-gray: #6b7a99;
$color-dark-charcoal: #333333;

$font-text: 'Open Sans', sans-serif;
$font-header: 'Julius Sans One', sans-serif;